<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/app.css">

    <div class="d-flex justify-content-center flex-column">
        <div class="d-flex justify-content-center flex-row">
            <a href="/countries" class=" mb-5 ms-3 game">
                <div class="d-flex pt-4 flex-column align-items-center h-100">

                    <div class="image">
                        <img src="https://static.vecteezy.com/system/resources/previews/001/198/092/original/world-png.png"
                            class="img-fluid" alt="">
                    </div>
                    <div class="title">
                        <p class="fs-3">Country Game</p>
                    </div>
                    <div class="explanation">
                        <p class="lead text-center">Guess which country it is based on the clues from the previous
                            types!</p>
                    </div>
                </div>
            </a>

            <a href="/words" class=" mb-5 ms-3 game">
                <div class="d-flex pt-4 flex-column align-items-center h-100">

                    <div class="image">
                        <img src="https://cdn-icons-png.flaticon.com/512/4033/4033369.png" class="img-fluid" alt="">
                    </div>
                    <div class="title">
                        <p class="fs-3">Word Game</p>
                    </div>
                    <div class="explanation">
                        <p class="lead text-center">Keep in mind as many words as possible!</p>
                    </div>

                </div>
            </a>
        </div>
        <div class="d-flex justify-content-center flex-row">
            <a href="/number-sequence" class=" mb-5 ms-3 game">
                <div class="d-flex pt-4 flex-column align-items-center h-100">

                    <div class="image">
                        <img src="https://cdn3d.iconscout.com/3d/premium/thumb/numbers-7931638-6360320.png?f=webp"
                            class="img-fluid" alt="">
                    </div>
                    <div class="title">
                        <p class="fs-3">Number Sequence</p>
                    </div>
                    <div class="explanation">
                        <p class="lead text-center">Remember increasingly long numbers!</p>
                    </div>
                </div>
            </a>
            <a href="/simon-says" class=" mb-5 ms-3 game">
                <div class="d-flex pt-4 flex-column align-items-center h-100">

                    <div class="image">
                        <img src="https://img.itch.zone/aW1nLzM3NTk3MDYucG5n/original/pPvI16.png" class="img-fluid"
                            alt="">
                    </div>
                    <div class="title">
                        <p class="fs-3">Simon Says</p>
                    </div>
                    <div class="explanation">
                        <p class="lead text-center">Remember an increasingly long pattern of signs!</p>
                    </div>
                </div>
            </a>
        </div>

    </div>