<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/games.css">
    <% if(!currentUser) {%>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            You're not logged in - you won't be able to save your result!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
            <section>
                <div class="game-info d-flex justify-content-start align-items-center flex-column">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-book game-logo text-light mb-2" viewBox="0 0 16 16">
                        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                      </svg>
                    <h1 class="text-light text-center fs-1">Word Game</h1>
                    <p class="text-light text-center fs-4">Remember the displayed words in order to properly guess
                        whether
                        one
                        of them
                        already appeared on the screen before or not.</p>
                    <button class="btn btn-light start-button">Start</button>
                </div>

                <div class="game-panel d-flex flex-column justify-content-start align-items-center d-none">
                    <div>
                        <p class="text-light text-center fs-4 d-inline lives px-0 me-5"></p>
                        <p class="text-light text-center fs-4 d-inline level px-0"></p>
                    </div>
                    <h1 class="text-light text-center fs-1 word"></h1>
                    <div class="mb-3 d-flex justify-content-start align-items-center">

                        <button class="btn btn-dark seen-button mt-2 me-3 fs-4 px-4">SEEN</button>
                        <button class="btn btn-info new-button mt-2 fs-4 px-4">NEW</button>
                    </div>
                </div>
                <div class="game-lost d-flex justify-content-start align-items-center flex-column d-none">
                    <h1 class="text-light text-center fs-1">You've lost!</h1>
                    <h1 class="text-light result-info text-center fs-1"></h1>
                    <% if(currentUser){ %>
                        <h1 class="text-light text-center fs-1">Do you wish to save your result?</h1>
                        <form action="/words" method="post"
                            class="d-flex justify-content-start align-items-center flex-column">
                            <input type="number" class="d-none" name="score" id="resultInput">
                            <button type="submit" class="btn btn-light mb-2">YES</button>
                        </form>

                        <% } %>
                            <button class="btn btn-info try-again">Try Again</button>
                </div>
            </section>
            <script>

                var words = <%-JSON.stringify(words) %>
            </script>
            <script src="/javascripts/word.js"></script>